html {
    font-size: 16px;
    @media (max-width: $grid-ls) {
        font-size: 14px;
    }
}
body {
    font-family: 'Geometria', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
    @media (max-width: $grid-lm) {
        width: 960px;
    }
    @media (max-width: $grid-ls) {
        width: 95%;
    }
}
