@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Regular.woff2') format('woff2'),
    url('../fonts/Geometria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Light.woff2') format('woff2'),
    url('../fonts/Geometria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Medium.woff2') format('woff2'),
    url('../fonts/Geometria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-Bold.woff2') format('woff2'),
    url('../fonts/Geometria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('../fonts/Geometria-ExtraBold.woff2') format('woff2'),
    url('../fonts/Geometria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?xfkqhn');
    src:  url('../fonts/icomoon.eot?xfkqhn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xfkqhn') format('truetype'),
    url('../fonts/icomoon.woff?xfkqhn') format('woff'),
    url('../fonts/icomoon.svg?xfkqhn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-telephone:before {
    content: "\e914";
}
.icon-map-marker:before {
    content: "\e915";
}
.icon-tick:before {
    content: "\e913";
}
.icon-zoom-in:before {
    content: "\e912";
}
.icon-fingers-scroll-horizontal:before {
    content: "\e911";
}
.icon-cross:before {
    content: "\e90f";
}
.icon-menu:before {
    content: "\e910";
}
.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-facebook-f:before {
    content: "\f09a";
}
.icon-tumblr:before {
    content: "\f173";
}
.icon-linkedin-square:before {
    content: "\f08c";
}
.icon-yelp:before {
    content: "\f1e9";
}
.icon-arrow-right-circle:before {
    content: "\e900";
}
.icon-scroll:before {
    content: "\e901";
}
.icon-chevron-up:before {
    content: "\e902";
}
.icon-chevron-down:before {
    content: "\e903";
}
.icon-chevron-left:before {
    content: "\e904";
}
.icon-chevron-right:before {
    content: "\e905";
}
.icon-lock:before {
    content: "\e906";
}
.icon-mailbox-full:before {
    content: "\e907";
}
.icon-printer:before {
    content: "\e908";
}
.icon-barcode:before {
    content: "\e909";
}
.icon-rocket:before {
    content: "\e90a";
}
.icon-select2:before {
    content: "\e90b";
}
.icon-2:before {
    content: "\e90c";
}
.icon-3:before {
    content: "\e90d";
}
.icon-1:before {
    content: "\e90e";
}

