.s {
    &-header {
        display: flex;
        align-items: center;
        margin-bottom: 46px;
        @media (max-width: $grid-sm) {
            justify-content: space-between;
        }
        &__header {
            font-size: 60/16+0em;
            font-weight: bold;
            line-height: 0.87;
            color: #ffffff;
            width: 40%;
            @media (max-width: $grid-ls) {
                width: 50%;
                font-size: 36px;
                font-weight: 900;
            }
            @media (max-width: $grid-sm) {
                width: auto;
                font-size: 28px;
            }
        }
        &__hand {
            width: 20%;
            text-align: center;
            span {
                font-size: 40px;
                line-height: 1;
                color: #ffffff;
                @media (max-width: $grid-ls) {
                    font-size: 30px;
                }
            }
            @media (max-width: $grid-sm) {
                width: auto;
            }
        }
        &__button {
            width: 40%;
            text-align: right;
            @media (max-width: $grid-ls) {
                width: 30%;
            }
            @media (max-width: $grid-sm) {
                width: auto;
            }
        }
    }
    &-container {
        position: relative;
        &__header {
            position: absolute;
            z-index: 5;
            font-size: 60/16+0em;
            font-weight: bold;
            line-height: 0.87;
            color: #9d9fa2;
            width: 40%;
            transform-origin: left bottom;
            transform: rotate(-90deg);
            bottom: 0;
            left: 120px;
            span {
                color: #fff;
            }
            @media (max-width: $grid-ls) {
                width: 50%;
                font-size: 36px;
                font-weight: 900;
                left: 60px;
            }
            @media (max-width: $grid-sm) {
                width: auto;
                font-size: 28px;
                left: 30px;
            }
        }
    }
    &__vlogo {
        @include bg($verizon-logo);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @media (max-width: $grid-ls) {
            transform: translate(-50%,-50%) scale(0.5);
        }
    }
    &__button {
        line-height: 50/16+0em;
        display: inline-block;
        border-radius: 4px;
        border: solid 2px #fff;
        padding:0 2em;
        font-weight: bold;
        letter-spacing: 0.1px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        transition: .25s;
        @media (max-width: $grid-ls) {
            font-size: 14px;
            font-weight: 900;
            padding:0 1em;
            line-height: 40/16+0em;
        }
        @media (max-width: $grid-sm) {
            padding:0 0.5em;
        }
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &-slider {
        margin-left: 150px;
        @media (max-width: $grid-ls) {
            margin-left: 80px;
        }
        @media (max-width: $grid-sm) {
            margin-left: 40px;
        }
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 25%;
            height: 100%;
            background-image: linear-gradient(to left, rgba(0, 0, 0, .75), rgba(0, 0, 0, 0));
            z-index: 5;
            opacity: 1;
            transition: .25s;
            @media (max-width: $grid-sm) {
                display: none;
            }
        }
        &--last {
            &:before {
                opacity: 0;
            }
        }
        &__item {
            width: 490.6px;
            height: 446.9px;
            position: relative;
            @media (max-width: $grid-ls) {
                height: 220px;
            }
            &Row {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            &Header {
                font-size: 50/16+0em;
                font-weight: 600;
                line-height: 0.84;
                text-align: center;
                margin-bottom: 25px;
                color: #fff;
                @media (max-width: $grid-sl) {
                    font-size: 24px;
                    margin-bottom: 15px;
                }
            }
            &Text {
                text-align: center;
                margin-bottom: 34px;
                font-size: 18/16+0em;
                font-weight: 500;
                line-height: 1.22;
                color: #fff;
                @media (max-width: $grid-sl) {
                    margin-bottom: 15px;
                }
            }
            &Button {
                text-align: center;
            }
            &--blue {background-color: #35a0ce;}
            &--red {background-color: #da3832;}
            &--img {
                background-image: url('%=static=%content/shutterstock-286965218.png');
                background-size: cover;
                @media screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (min-device-pixel-ratio: 2) {
                    background-image: url('%=static=%/content/shutterstock-286965218@2x.png');
                }
                @media screen and (-webkit-min-device-pixel-ratio: 3), only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx), only screen and (min-device-pixel-ratio: 3) {
                    background-image: url('%=static=%content/shutterstock-286965218@2x.png');
                }
            }
        }
    }
}
.slider-wrapper {
    background-color: #d1d1d4;
    padding-top: 85px;
    padding-bottom: 120px;
    @media (max-width: $grid-ls) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}


