<div class="slider-wrapper">
    <div class="container">
        <div class="s-header">
            <div class="s-header__header">Our Work</div>
            <div class="s-header__hand">
                <span class="icon-fingers-scroll-horizontal"></span>
            </div>
            <div class="s-header__button">
                <a class="s__button" href="#">View all</a>
            </div>
        </div>
    </div>
    <div class="s-container">
        <div class="s-container__header">
            <span>Case</span>Studies
        </div>
        <div class="s-slider">
            <div class="s-slider__item s-slider__item--red">
                <div class="s__vlogo"></div>
            </div>
            <div class="s-slider__item s-slider__item--img">
                <div class="s-slider__itemRow">
                    <div class="s-slider__itemHeader">North America Branding</div>
                    <div class="s-slider__itemText">Setting Client’s brand in motion</div>
                    <div class="s-slider__itemButton">
                        <a class="s__button" href="#">View case</a>
                    </div>
                </div>
            </div>
            <div class="s-slider__item s-slider__item--blue">
                <div class="s__vlogo"></div>
            </div>
            <div class="s-slider__item s-slider__item--red">
                <div class="s__vlogo"></div>
            </div>
            <div class="s-slider__item s-slider__item--blue">
                <div class="s__vlogo"></div>
            </div>
            <div class="s-slider__item s-slider__item--red">
                <div class="s__vlogo"></div>
            </div>
            <div class="s-slider__item s-slider__item--blue">
                <div class="s__vlogo"></div>
            </div>
        </div>
    </div>
</div>
